.df{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1600px;
    /*min-width: 1600px;*/
    overflow: hidden;
    margin: 0 auto!important;
}
